.note{
    margin: 0 5%;
    text-align: center;
    font-size: 20px;
}

.outernotecontainer{
    max-width: 775px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#maincontainer{
    position: relative;
    background:white;
    text-align:left;
    color:#333;
    border:1px solid #dedede;
    text-decoration: unset;
    margin-top: 15px;
    margin-bottom: 15px
}

.sectionheading{
    padding: 10px 5% 10px 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: url('https://rawgit.com/kmgallahan/CSSFiles/master/greennoise.png');
}

#listingtitleheader{
    padding: 20px 0px 40px 0px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#333;
}

.innertextcontainer{
    padding:15px 7% 15px 7%;
    font-size: 20px;
}

.gallerycontainer{
    padding:0px 5% 10px 5%;
}

.galleryimage{
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 700px;
    position: relative;
    z-index: 99;
}

.detailtable, .conditiontable{
    border-collapse: collapse;
}

.detailtable td, .detailtable th {
    font-size: 20px;
    padding: 8px 20px 8px 0px;
}

.detailtable tr, .conditiontable tr {
    border-bottom: 1px solid #dedede;
}

.conditiontable td, .conditiontable th {
    font-size: 16px;
    padding: 8px 20px 8px 0px;
}

.conditionsystemcontainer{
   margin-top: 15px;
   padding: 0px 5% 10px 5%;
   color:#333;
   border:1px solid #dedede;
   font-size: 18px;
}

.policytext hr {
    font-size: 18px;
}

.policytext {
    font-size: 16px;
    padding:0px 7%;
}

hr.fadestyle {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tabs{
    width: 900px;
    margin: 15px auto;
    position: relative;
}

.tabs .tab{
    float: left;
}

.tabinput{
    display: none;
}

.tab label {
    display: block;
    font-size:20px;
    text-align: center;
    padding: 10px 7px 10px;
    cursor: pointer;
    background-color: white;
    color:#333;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    position: relative;
}

.tabs .tab .content {
    z-index: 10;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0px;
    color:#333;
    border-color: #dedede;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0;
    margin-top: -1;
    background: url('https://rawgit.com/kmgallahan/CSSFiles/master/greynoise.png');
}

.tabinput:checked ~ label{
    background: url('https://rawgit.com/kmgallahan/CSSFiles/master/greennoise.png');
    border-color: #dedede;
    z-index: 80;
    font-weight: bold;
}

.tabinput:checked ~ [id^="tab_content"] {
    z-index: 50;
    opacity: 1;
}

.tab label::after {
    display: block;
    content: attr(for);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
